@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Visby";
  src: url("/fonts/visbyextrabold-webfont.woff") format("woff"),
       url("/fonts/visbyextrabold-webfont.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("/font/opensans-regular-webfont.woff") format("woff")
       url("/font/opensans-regular-webfont.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}
